<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=am.ik.archetype"/>
        <listEntry value="archetypeArtifactId=graalvm-blank-archetype"/>
        <listEntry value="archetypeVersion=0.1.3"/>
        <listEntry value="groupId=com.senecaglobal"/>
        <listEntry value="artifactId=first-demo-project"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.senecaglobal.first_demo_project"/>
        <listEntry value="outputDirectory=C:\Users\abc\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\abc\AppData\Local\Temp\m2e-archetypeGenerator10339089938954170956"/>
</launchConfiguration>
